
@{
}
<h4>authenticating...</h4>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        window.location='@ViewBag.url'
        });
</script>





