@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-top:10px">
    <div class="row">
        <button type="button" class="btn btn-success" id="btnApp">
            Get Into App
        </button>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnApp').click(function () {
            window.location='/Facebook/GetCode'
        });
        });
</script>